/*
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

a {
    text-decoration: none;
    color: #14ACCC;
}
a:hover,
a:focus {
    text-decoration: underline;
}

/* LAYOUT CSS */

#layout {
    padding-left: 300px;
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    margin-left: -300px;
    background: #FF0066;
    color: #fff;
}

.header {
    margin: 50% 2em 0;
    text-align: left;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.25em;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.brand-tagline a {
    color: #FFE919;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 3px solid #FFE919;
    color: #fff;
    margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid #14ACCC;
    color: #14ACCC;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 3em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: left;
    margin-left: 1em;
}
.post-category-icon {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-category-icon-lg {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-description h2,
.post-description h3,
.post-description h4 {
    font-family: sans-serif;;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #FF0066;
    font-size: 80%;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    border-top: 1px solid #eeeeee;
    padding: 0.5em 1.1429em;
    background: #fafafa;
    line-height: 1.6em;
    color: #777777;
    font-size: 75%;
    margin-top: 3em;
}
.footer a {
    color: #B21252;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }

    .img-header {
        display: none;
    }

}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}

.foot-inner {
    margin: 3em;
}

.img-header {
    margin: 2em;
}

h2 a:hover {
    text-decoration: none;
}


.post-pager {
    text-align: center;
    padding-bottom: 2em;
}

.splash {
    color: #999999;
    font-weight: 300;
    line-height: 1.4em;
}

.gplus {
    direction: ltr;
    text-indent: -9999px;
    display: block;
}


.post-description > blockquote {
    color: #666666;
    font-style: italic;
    line-height: 1.8em;
    border-left: 5px solid #dddddd;
    padding-left: 1.5em;
}

code, pre {
    background: #f5f5f5;
}
