header, footer,
.page {
    max-width: 650px;
    margin: 0 auto;
}

html {font-size: 1em;}

body {
    background-color: white;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    font-family: Georgia,Times,Times New Roman,serif;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    font-family: Verdana,Geneva,sans-serif;
}

a {
  text-decoration: none;
  color: #3498db;
}

img {
  max-width: 100%;
}

h1 {font-size: 2.618em;}

.post-title-sm,
p.lead,
h2 {font-size: 1.618em;}

small, .font_small {font-size: 0.818em;}

.client-logo {
      width: 100px;
    height: 100px;
    float: left;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.footer {
  color: #555;
  margin-top: 2em;
  border-top: 5px solid #eee;
  padding-top: 0.5em;
}

.menu-list {
  list-style: none;
  padding: 0;
}
.menu-list > li {
  display: inline-block;
  margin-right: 1em;
}

.my-tinyletter {
  background: #eee;
  padding: 0.25em 1em;
}
.testimonials {
  list-style: none;
  padding: 0;
}
.testimonials > li > blockquote {
  margin: 1em 0;
  border-left: 5px solid #eee;
  padding-left: 1em;
}
.top-nav-logo {
  float: left;
}
.page-header-big-image {
  float: left;
  width: 150px;
}
.page-header-bit-text {
  margin-left: 150px;
}
.page-header-title {
  margin-top: 0;
}
.work-selection-logo {
  float: left;
  width: 100px;
}
.work-selection-text {
  margin-left: 120px;
}
.page-divider {
  border-top: 5px solid #eee;
  margin: 4em 0 3em;
}
.timeline-event {
  clear: all;
  border-top: 2px solid #eee;
}
.timeline-event-year {
  float: left;
  width: 100px;
}
.timeline-event-year > p {
  margin-top: 0;
}
.timeline-event-text {
  margin-left: 100px;
}
.post-content blockquote {
  border-left: 5px solid #eee;
  padding-left: 2em;
  margin-left: 0;
}

.pagination {
  list-style: none;
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
.pagination > li {
  display: inline-block;

}
.pagination li a  {
  background: #3498db;
  color: white;
  padding: 0.25em 0.5em 0.35em;
  margin: 0.125em;
}

