.alt-font {
  padding-right: 1em;
}
.text-light {
  font-weight: 200;
}
.avatar {
  border-radius: 50px;
}
.feature {
  margin-bottom: 2em;
}

.lead > a {
  color: #428bca;
}

header.title {
  height: 325px;
}
.page-header {
  padding: 60px 0;
}
.page-header .background-image-holder.parallax-background {
  top: -20%;
}
header.title.newness-title {
  height: 205px;
}
