

header {
  background-image: url('/img/dm-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
