---
layout: default
title: Darren Mothersele - London Based Developer
---

<div class="posts">
<h1 class="content-subhead">About Me</h1>

{% include post-feature.html url="/about/" excerpt="<p>Freelance computer scientist, web developer and devops. Consultant to many high profile, large Drupal deployments and flagship Drupal websites. Specialist in maintainable and scalable website development and security issues. Speaks Drupal, Ruby, and C++.</p><p>I've been doing Drupal full time for over 6 years now. I architect complete Drupal-based solutions, troubleshoot Drupal sites, optimise Drupal setups, and develop Drupal modules. I also created the Cyril programming language for live coding.</p>" %}

</div>

<div class="posts">
<h1 class="content-subhead">Featured Posts</h1>
{% for post in site.tags.featured limit: 6 %}
  {% include featured.html post=post %}
{% endfor %}
</div>
