---
layout: post
title: Web 2.0 in Serbia
category: web-dev
tags: events
---
<p>I recently spent an interesting 8 days in Serbia, talking about Web 2.0, Social Software and its use in Youth in Action programmes. I'd never been to Serbia before and I immediately found some "cultural differences". You can see the view I had from my hotel window in the attached photo. Yes, a bomb! Not what I expected to see when staying in a hotel at the top of a mountain in a national park. </p><!--break-->
<p>Everyone in Serbia seems to smoke. This took a while to get used to. When I arrived at the hotel I was greeted by the receptionist sat smoking a cigarette behind the reception desk. The hotel bar, lobby, and restaurant were covered by a cloud of smoke at all times.</p>
<p>In general I found the people in Serbia very friendly and welcoming. It's probably one of the most friendly countries I have visited. Technically they seem very proficient, but with a scary reliance on pirated software - I took every opportunity to present open-source alternatives. </p>
<p>Drupal was met with much excitement and we only touched on the basics of what it could do... hopefully we'll see some new youth projects and more NGOs using Drupal.</p>
