---
layout: post
title: Access Drupal CVS from behind a firewall using SSH tunnelling
category: web-dev
tags: linux
---
<p>Working behind a firewall and need to get an up-to-date dev version of a Drupal module from the Drupal CVS? I was just stuck with this problem, but here's how I solved it.</p>
<p>Luckily, port 22 was open for ssh connection, so I tunnel the CVS traffic (port 2401) via my own server. Simple two step process:</p>

<!--break-->
<p><strong>1.</strong> Create an SSH connection in the background to your own server using the following command. Replace <em>example.com</em> with your host name and <em>username</em> with your ssh login name. </p>
<pre>ssh -f -L 2401:cvs.drupal.org:2401 username<span></span>@example.com -N</pre><p>
After this command you will have <em>localhost:2401</em> mapping to <em>cvs.drupal.org:2401</em> but via your SSH tunnel.</p>
<p><strong>2.</strong> Run the usual Drupal CVS command, but replace localhost as the server. For example, to check out the most recent version of the date module:</p>
<pre>cvs -z6 -d:pserver:anonymous:anonymous@localhost:/cvs/drupal-contrib \
checkout -d date-DRUPAL-6--2 -r DRUPAL-6--2 contributions/modules/date/</pre><p>
That's it!</p>
<p><strong>Update:</strong> Another useful SSH command is to use its internal SOCKS proxy to securely tunnel traffic:</p>
<pre>
ssh -D 6666 login@host.com
</pre><p>
Then set firefox to use SOCKS proxy with values "localhost" and port 6666</p>
