---
layout: post
title: Presentation on Drupal Web Services
category: web-dev
tags: events
---
<p>Here are the slides from the presentation I gave last night at the Drupal Drop-in event at The Guardian in London:</p>
<!--break-->
<div style="width:425px" id="__ss_6173200">
<object id="__sse6173200" width="425" height="355"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=drupalwebservices-101215042546-phpapp02&amp;rel=0&amp;stripped_title=drupal-web-services&amp;userName=darrenmothersele" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><embed name="__sse6173200" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=drupalwebservices-101215042546-phpapp02&amp;rel=0&amp;stripped_title=drupal-web-services&amp;userName=darrenmothersele" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed></object></div>
