---
layout: post
title: Drupal Services at Dec 2010 Drupal Drop-in at The Guardian
category: web-dev
tags: drupal
---
<p>I will be giving a presentation on creating Drupal Web Services at next week's Drupal Drop-in event at The Guardian's offices in London. More information to follow, hope to see you there!</p>
<!--break-->
