---
layout: post
title: Drupal for Publishers
category: web-dev
tags: events
---
<p>This Friday, 13th Aug, I will be presenting a case study at <a href="http://dfpublishers2010.eventbrite.com/" rel="nofollow">Drupal Focus on Publishers</a>. If you are interested in hearing more about the use of Drupal in publishing then come along to this free event. I will be presenting a case study and talking about content aggregation, personalisation, and creating sites with premium subscriber-only content.</p>
<!--break-->
