---
layout: default
title: All blog posts - Darren Mothersele - London Based Developer
---
<div class="posts">

<h1 class="content-subhead">
  All blog posts (page {{ paginator.page }} of {{ paginator.total_pages }})
</h1>

{% for post in paginator.posts %}
  {% include featured.html post=post %}
{% endfor %}
</div>

<div class="post-pager">
<ul class="pure-paginator">

{% if paginator.previous_page %}
<li><a class="pure-button prev" href="{{ paginator.previous_page_path }}" title="Previous Page">&laquo;</a></li>
{% endif %}

{% for i in (1..paginator.total_pages) %}
{% if i == 1 %}
 <li><a class="pure-button{% if i == paginator.page %} pure-button-active{% endif %}" href="/blog/">{{ i }}</a></li>
{% else %}
 <li><a class="pure-button{% if i == paginator.page %} pure-button-active{% endif %}" href="/blog/page{{ i }}/">{{ i }}</a></li>
{% endif %}
{% endfor %}

{% if paginator.next_page %}
<li><a class="pure-button next" href="{{ paginator.next_page_path }}" title="Next Page">&raquo;</a></li>
{% endif %}

</ul>
</div>

