<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
{% if page.rss_url %}
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/{{ page.rss_url }}">
{% else %}
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/{{ site.rss_url }}">
{% endif %}
<link rel="stylesheet" href="/css/pure-min.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/blog.css">

</head>
<body>
<div class="pure-g-r" id="layout">
<div class="sidebar pure-u">

<div class="img-header">
<a href="/"><img class="post-avatar" alt="Darren Mothersele&#x27;s avatar" height="100" width="100" src="/img/darren100.jpg"></a>
</div>
<header class="header">
<hgroup>
<h1 class="brand-title">Darren Mothersele</h1>
<h2 class="brand-tagline">Freelance computer scientist, web developer and devops.</h2>
<h2 class="brand-tagline">
<a href="/blog/">Blogs</a> about technology,
<a href="/web-dev/">web development</a>
(Drupal, PHP, Ruby), <a href="/devops/">DevOps</a>,
generative art and <a href="/creative-coding/">creative coding</a>,
creator of <a href="/cyril/">Cyril</a> programming
language, <a href="/hardware/">hardware</a> hacker,
and <a href="/music/">music</a>.
</h2>
<h2 class="brand-tagline"><a href="/about/">Full bio</a>.</h2>
</hgroup>
</header>
</div>

<div class="pure-u-1">
<div class="content">

{{ content }}



</div>


<footer class="footer">

<div class="pure-g-r">
  <div class="pure-u-1-2"><div class="foot-inner">
        <h3>Email me</h3>
        <p>
          darren <b>at</b> darrenmothersele <b>dot</b> com.
          If you put <em>websitefb</em> in the subject line it should get past my
          spam filter.
        </p>
        <p>Or, if you fancy writing a letter and posting it:
            <address>
              <strong>Ideation Networks Ltd.</strong><br>
              Unit 9, Piano House<br>
              9 Brighton Terrace,<br>
              Brixton, London SW9 8DJ<br>
              United Kingdom
            </address>
              </p>
            <p>You can also find me on
              <a href="https://twitter.com/mothersele">Twitter</a> and
            <a href="https://github.com/darrenmothersele">GitHub</a>.
    <span class="gplus"><a href="https://plus.google.com/u/1/117690122045214583179" rel="author">Google+</a></span>
            </p>

<p><img src="/img/drupal-assoc.png" alt="Darren Mothersele is a member of the Drupal Association"></p>

  </div></div>
  <div class="pure-u-1-2"><div class="foot-inner">

<h3>License</h3>

             <p>This website is copyright &copy;2007-2013 Darren Mothersele.
             </p>
             <p> Unless specified otherwise all content is
         licensed under a
        <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" class="footer-link">
        Creative Commons Attribution-ShareAlike 3.0 Unported License.</a>
              </p>
              <p>Source code is either released into the public domain, or
                under an MIT / BSD license where possible. If this is not possible
                (due to restrictions of the GPL) then code will be released as
                GPL.  See individual project license files for details.
              </p>


  </div></div>
</div>



</footer>
</div>
</div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-305319-5']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
